.border_transition::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    /* FBA1B7 */
    background-color:#FF8E9E ;
    width: 0;
    height: 2px;
    transition:  0.7s;
}

.fadeBottom{
    height:200px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.4),black); 
}

#login:hover{
    background-image: linear-gradient(to top, #ff4495 0%, #ff6d6d 100%,#7db9e8 100%);
  
}
.border_transition:hover:after{
    width:100%
}

.back_image::before { 
    pointer-events: none;
    content: ""; 
    position: fixed; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    left: 0px; 
    /* background-color: rgb(15,23,42); */
    /* background-image: url('/body-bg.svg'); */
    background-image:
    linear-gradient(to right, rgba(14, 13, 13, 0.1), rgba(14, 13, 13, 0.1)),
    url('/home.jpeg');
    /* background-image: url( '/body-bg.svg');  */
    background-size: cover;  
    z-index: -1;
    /* opacity: 0.1;  */
    
} 

.back_image1::before { 
    pointer-events: none;
    content: ""; 
    position: fixed; 
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    left: 0px; 
    background-color: rgb(250, 250, 250);
    background-image: url('/body-bg.svg');
    background-size: cover;  
    z-index: -1;
    /* opacity: 0.1;  */
    
} 